body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.main {
    position: relative;
    width: 380px;
    height: 100vh;
    overflow: hidden;
    background: linear-gradient(169.55deg, #060846 1.99%, #040B1D 70.07%);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.upper-portion {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 8dvh;
}

h2 {
    font-size: 4.5dvh;
}

p {
    font-size: 1.9dvh;
    height: 16dvh;
    overflow-y: scroll;
    padding: 0 2rem;
}

p::-webkit-scrollbar {
    display: none;
}

h3 {
    margin: 0;
    padding: 0;
}

.lower-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lower-text p {
    line-clamp: 1;
    height: 24px;
}

svg {
    width: 4dvh;
    height: 4dvh;
    border-radius: 50%;
    background-color: #0c0f58;
    padding: 10px;
    cursor: pointer;
}

.lower-portion {
    position: absolute;
    bottom: 4dvh;
}

.lower-buttons {
    display: flex;
    align-items: center;
    gap: 4dvh;
}

.ellipse {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 160px;
    scale: 60%;
    cursor: pointer;
}

.ellipse1 {
    position: absolute;
    width: 24dvh;
    height: 24dvh;
    border-radius: 50%;

    background: linear-gradient(137.12deg, rgba(17, 25, 95, 0.3) 50.25%, rgba(50, 44, 164, 0.3) 106.57%);
}

.ellipse2 {
    position: absolute;
    width: 21dvh;
    height: 21dvh;
    border-radius: 50%;

    background: linear-gradient(137.12deg, rgba(17, 25, 95, 0.6) 50.25%, rgba(50, 44, 164, 0.6) 106.57%);
}

.ellipse3 {
    position: absolute;
    width: 18dvh;
    height: 18dvh;
    border-radius: 50%;

    background: linear-gradient(137.12deg, #11195F 50.25%, rgb(50, 44, 164) 106.57%);
}

.voice-icon {
    position: absolute;
    width: 18dvh;
    height: 18dvh;
    z-index: 30;
    animation: spin 3s linear infinite;
}

.shape11,
.shape7 {
    animation: move 2s infinite ease-in-out;
}

.shape3,
.shape1{
    animation: rightMove 3s infinite ease-in-out;
}

.shape2,
.shape6 {
    animation: reverseMove 4s infinite ease-in-out;
}

.shape4,
.shape5 {
    animation: leftMove 4s infinite ease-in-out;
}

.pulse {
    animation: pulse-animation 3s infinite ease-in-out;
}

@keyframes pulse-animation {
    0%, 100% {
        box-shadow: 0 0 0 0px rgba(24, 39, 169, 0.2);
    }
    50% {
        box-shadow: 0 0 0 30px rgba(25, 40, 156, 0);
    }
}

@keyframes move {
    0%, 100% {
        transform: translate(0, 0) rotate(0deg);
    }
    50% {
        transform: translate(-20px, 20px) rotate(15deg);
    }
}

@keyframes reverseMove {
    0%, 100% {
        transform: translate(0, 0) rotate(0deg);
    }
    50% {
        transform: translate(20px, -20px) rotate(-15deg);
    }
}

@keyframes leftMove {
    0%, 100% {
        transform: translate(0, 0) rotate(0deg);
    }
    50% {
        transform: translate(-20px, -20px) rotate(-15deg);
    }
}

@keyframes rightMove {
    0%, 100% {
        transform: translate(0, 0) rotate(0deg);
    }
    50% {
        transform: translate(20px, 20px) rotate(15deg);
    }
}


@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@media screen and (max-height: 600px) {
    .lower-text {
        visibility: hidden;
    }
}