body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.main {
    position: relative;
    width: 380px;
    height: 100vh;
    overflow: hidden;
    background: linear-gradient(169.55deg, #060846 1.99%, #040B1D 70.07%);
}

.ellipse {
    width: 380px;
    height: 60vh;
}

.ellipse1 {
    position: absolute;
    width: 40vh;
    height: 40vh;
    top: 8vh;
    left: -7vh;
    border-radius: 50%;
    background: linear-gradient(136deg, #11195F 50%, #322CA4 106%);
    z-index: 20;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ellipse2 {
    position: absolute;
    width: 50vh;
    height: 50vh;
    left: -11vh;
    border-radius: 50%;
    background: linear-gradient(137.12deg, rgba(17, 25, 95, 0.3) 50.25%, rgba(50, 44, 164, 0.3) 106.57%);
    z-index: 10;
}

img {
    z-index: 40;
    margin-top: 5vh;
    width: 30vh;
    height: auto;
    max-width: 80%;
}

.ellipse3 {
    position: absolute;
    width: 60vh;
    height: 60vh;
    top: -9vh;
    left: -15vh;
    border-radius: 50%;
    background: linear-gradient(137.12deg, rgba(17, 25, 95, 0.6) 50.25%, rgba(50, 44, 164, 0.6) 106.57%);
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    text-align: center;
    padding: 0 20px;
    margin-bottom: 50px;
}

button {
    font-size: larger;
    font-weight: 600;
    font-family: 'Almarai';
    padding: 8px 30px;
    border: none;
    margin-top: 30px;
    border-radius: 20px;
}