body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.main {
    position: relative;
    width: 380px;
    height: 100vh;
    overflow: hidden;
    background: linear-gradient(169.55deg, #060846 1.99%, #040B1D 70.07%);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.upper-portion {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 8dvh;
}

h2 {
    font-size: 4.5dvh;
}

p {
    font-size: 1.9dvh;
    height: 16dvh;
    overflow-y: scroll;
    padding: 0 2rem;
}

p::-webkit-scrollbar {
    display: none;
}

h3 {
    margin: 0;
    padding: 0;
}

.lower-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lower-text p {
    line-clamp: 1;
    height: 24px;
}

svg {
    width: 4dvh;
    height: 4dvh;
    border-radius: 50%;
    background-color: #0c0f58;
    padding: 10px;
    cursor: pointer;
}

.lower-portion {
    position: absolute;
    bottom: 4dvh;
}

.lower-buttons {
    display: flex;
    align-items: center;
    gap: 4dvh;
}

.ellipse {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 160px;
    scale: 60%;
    cursor: pointer;
}

.ellipse1 {
    position: absolute;
    width: 24dvh;
    height: 24dvh;
    border-radius: 50%;
    background: linear-gradient(137.12deg, rgba(17, 25, 95, 0.3) 50.25%, rgba(50, 44, 164, 0.3) 106.57%);
}

.ellipse2 {
    position: absolute;
    width: 21dvh;
    height: 21dvh;
    border-radius: 50%;
    background: linear-gradient(137.12deg, rgba(17, 25, 95, 0.6) 50.25%, rgba(50, 44, 164, 0.6) 106.57%);
}

.ellipse3 {
    position: absolute;
    width: 18dvh;
    height: 18dvh;
    border-radius: 50%;
    background: linear-gradient(137.12deg, #11195F 50.25%, rgb(50, 44, 164) 106.57%);
}

.voice-icon {
    position: absolute;
    width: 18dvh;
    height: 18dvh;
    z-index: 30;
    animation: spin 3s linear infinite;
}

@media screen and (max-height: 600px) {
    .lower-text {
        visibility: hidden;
    }
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #042104;
    filter: rotate(70deg);
    animation: rotate 10s linear infinite;
}

.loader {
    position: relative;
    transform: rotate(calc(45deg * var(--r)));
}

.loader span {
    position: absolute;
    top: 0;
    left: -70px;
    width: 70px;
    height: 1px;
    transform-origin: right;
    transform: rotate(calc(18deg * var(--i)));
}

.loader span::before {
    content: '';
    position: absolute;
    top: calc(-18px/3);
    width: 10px;
    height: 10px;
    background: #EE4E4E;
    border-radius: 50%;
    box-shadow: 0 0 10px #EE4E4E,
        0 0 20px #EE4E4E,
        0 0 40px #EE4E4E;
    animation: animation 5s linear infinite;
    animation-delay: calc(-0.5s * var(--i));
}

.color1 span::before {
    background: #FFC700;
    border-radius: 50%;
    box-shadow: 0 0 10px #FFC700,
        0 0 20px #FFC700,
        0 0 40px #FFC700;
}

.color2 span::before {
    background: #FFF455;
    border-radius: 50%;
    box-shadow: 0 0 10px #FFF455,
        0 0 20px #FFF455,
        0 0 40px #FFF455;
}

.color3 span::before {
    background: #219C90;
    border-radius: 50%;
    box-shadow: 0 0 10px #219C90,
        0 0 20px #219C90,
        0 0 40px #219C90;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes animation {
    0% {
        transform: translateX(64px) scale(1);
        opacity: 0;
    }

    10% {
        opacity: 1;
    }

    80% {
        opacity: 1;
    }

    100% {
        transform: translateX(0px) scale(0);
        opacity: 0;
    }
}